<!DOCTYPE html>
<html lang="en">
  {% extends "grumblr_app/base_template.html" %}
  {% block header %}
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale    =1.0">
     <meta name="description" content="Login to your Grumblr account.    ">
     <meta name="author" content="Lawrence Jackson">
     <link rel="shortcut icon" href="../../assets/ico/favicon.png">
   
     <title>Login.</title>
     <!-- Bootstrap core CSS -->
     <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
     <!-- Custom styles for this template -->
     <link href="/static/assets/css/navbar.css" rel="stylesheet">
     <link href="/static/assets/css/signin.css" rel="stylesheet">
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and     media queries -->
     <!--[if lt IE 9]>
     <script src="../../assets/js/html5shiv.js"></script>
     <script src="../../assets/js/respond.min.js"></script>
     <![endif]-->
   </head>
   {% endblock header %}
   {% block body %}
    {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action='' method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    </div>
  {% endblock body %}
</html>
