<!DOCTYPE html>
<html lang="en">
  {% extends "grumblr_app/base_template.html" %}
  {% block header %}
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale    =1.0">
   <meta name="description" content="Login to your Grumblr account.    ">
   <meta name="author" content="Lawrence Jackson">
   <link rel="shortcut icon" href="../../assets/ico/favicon.png">
   
   <title>Your password has been changed.</title>
   <!-- Bootstrap core CSS -->
   <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="/static/assets/css/navbar.css" rel="stylesheet">
   <link href="/static/assets/css/signin.css" rel="stylesheet">
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and     media queries -->
   <!--[if lt IE 9]>
   <script src="../../assets/js/html5shiv.js"></script>
   <script src="../../assets/js/respond.min.js"></script>
   <![endif]-->
  </head>
  {% endblock header %}
  {% block body %}
    <p>Your password has been changed.</p>
    <p>You may now log in with your new password.</p>
  </div>
  {% endblock %}
</html>
