<DOCTYPE html>
<html lang="en">
  {% extends "grumblr_app/base_template.html" %}
  {% block header %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edit your Grumblr profile.">
    <meta name="author" content="Lawrence Jackson">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Edit your Grumblr profile.</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/assets/css/navbar.css" rel="stylesheet">
    <link href="/static/assets/css/signin.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
    {% endblock header %}
    {% block body %}
      <div class="row">
        <div class="col-sm-8 col-md-4">
        </div>
        <div class="col-sm-8 col-md-4">
          <div class="thumbnail">
          <br></br>
          <img style="width: 300px; height: 200px;" data-src="holder.js/300x200" alt="{{user.get_full_name}}" src="{% url 'photo' user.id %}">
            <div class="caption">
              <div class="text-center"><h3>{{user.get_full_name}}</h3></div>
              <div class="text-center"><h4>{{location}}</h4></div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-4">
        </div>
      </div>



      <form class="form-signin" enctype="multipart/form-data" id="new_form" action="/edit-profile" method="post">
        <h2 class="form-signin-heading text-center">Edit Settings!</h2>
        {% for field in form.visible_fields %}
          {% ifequal field.field.widget.input_type "file" %}
          <input type="{{field.field.widget.input_type}}" placeholder="{{field.label}}" name={{field.name}} id={{field.id}}>
          <br>
          {% else %}
          <input type="{{field.field.widget.input_type}}" class="form-control" placeholder="{{field.label}}" name={{field.name}} id={{field.id}}>
          {% endifequal %}
        {% endfor %}
        <button class="btn btn-warning btn-lg btn-primary btn-block" type="submit">Submit Changes!</button>
        {% csrf_token %}
      </form>

      <br></br>
      {% for post in posts %}
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
          <img style="width: 75px; height: 50px;" data-src="holder.js/300x200" alt="{{post}}" src="{% url 'grumblr-photo' post.id%}">
          {{post}}
          </div>
          <div class="panel-footer">
          {{post.timestamp}}
          </div>
          <form action="/delete_grumbl" method="post">
            <button type="submit" value="{{post.id}}" name="id" class="btn btn-danger btn-lg btn-primary btn-block">Delete Grumble</button>
            {% csrf_token%}
          </form>
        </div>
      </div>
      {% endfor %}
    </div> <!-- /container -->
    {% endblock body %}
</html>
